---
import EpisodeNavigation from "@/components/EpisodeNavigation.astro";
import Hosts from "@/components/Hosts.astro";
import Layout from "@/components/Layout.astro";
import PlayPodcastApple from "@/components/PlayPodcastApple.astro";
import PlayPodcastRadCrew from "@/components/PlayPodcastRadCrew.astro";
import SpotifyCard from "@/components/SpotifyCard.astro";
import { authors, slugify } from "@/lib/meta";
import { getEpisodeDetails, getShowDetails } from "@/lib/spotify";
import { formatDate, formatDuration } from "@/lib/time";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
import { ArrowLeft } from "lucide-astro";

export async function getStaticPaths() {
  const showDetails = await getShowDetails();
  const totalEpisodes = showDetails.total_episodes;

  return showDetails.episodes.items.map((entry, index) => ({
    params: { slug: slugify(entry.name) },
    props: {
      id: entry.id,
      episodeNumber: totalEpisodes - index,
      next:
        index > 0
          ? {
              slug: slugify(showDetails.episodes.items[index - 1].name),
              name: `${totalEpisodes - index + 1}. ${showDetails.episodes.items[index - 1].name}`,
            }
          : undefined,
      previous:
        index < showDetails.episodes.items.length - 1
          ? {
              slug: slugify(showDetails.episodes.items[index + 1].name),
              name: `${totalEpisodes - index - 1}. ${showDetails.episodes.items[index + 1].name}`,
            }
          : undefined,
    },
  }));
}

const { id, episodeNumber, next, previous } = Astro.props;
const episodeDetails = await getEpisodeDetails(id);
---

<Layout>
  <Fragment slot="head">
    <SEO
      title={episodeDetails.name}
      description={episodeDetails.description}
      openGraph={{
        basic: {
          title: episodeDetails.name,
          type: "website",
          image: episodeDetails.images[0].url,
          url: Astro.url.toString(),
        },
        optional: {
          description: episodeDetails.description,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@rad_crew",
        title: episodeDetails.name,
        description: episodeDetails.description,
        image: episodeDetails.images[0].url,
      }}
    />

    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "PodcastEpisode",
        name: episodeDetails.name,
        description: episodeDetails.description,
        episodeNumber,
        image: episodeDetails.images[0].url,
        url: Astro.url.toString(),
        datePublished: episodeDetails.release_date,
        duration: `PT${Math.floor(episodeDetails.duration_ms / 60000)}M`,
        associatedMedia: {
          "@type": "AudioObject",
          contentUrl: episodeDetails.audio_preview_url,
        },
        partOfSeries: {
          "@type": "PodcastSeries",
          name: episodeDetails.show.name,
          url: episodeDetails.show.external_urls.spotify,
        },
        author: authors,
      }}
    />
  </Fragment>

  <article class="prose max-w-4xl py-8">
    <a
      href="/"
      class="not-prose flex gap-1 items-center mb-4 text-blue-600 hover:text-blue-800 transition-colors"
    >
      <ArrowLeft class="w-4 h-4" />
      <span>Tilbake til episodeoversikten </span>
    </a>

    <section>
      <div class="not-prose">
        <SpotifyCard
          link={episodeDetails.external_urls.spotify}
          title={`${episodeNumber}. ${episodeDetails.name}`}
          imageUrl={episodeDetails.images[0].url}
          description={`Utgitt ${formatDate(episodeDetails.release_date)}
          • ${formatDuration(episodeDetails.duration_ms)}`}
          loading="eager"
        />
      </div>

      <p>{episodeDetails.description}</p>
    </section>

    <section>
      <h2>Presentert av</h2>
      <div class="not-prose">
        <Hosts loading="eager" />
      </div>
    </section>

    <nav
      class="not-prose flex flex-col sm:flex-row justify-between items-stretch gap-4 mt-16"
    >
      {
        previous ? (
          <EpisodeNavigation
            direction="previous"
            name={previous.name}
            slug={previous.slug}
          />
        ) : (
          <div class="flex-1" />
        )
      }
      {
        next ? (
          <EpisodeNavigation
            direction="next"
            name={next.name}
            slug={next.slug}
          />
        ) : (
          <div class="flex-1" />
        )
      }
    </nav>

    <section>
      <h2>Du finner også episodene på disse tjenestene</h2>
      <div class="not-prose flex gap-4 flex-wrap">
        <PlayPodcastApple />
        <PlayPodcastRadCrew />
      </div>
    </section>
  </article>
</Layout>
