---
import { Image } from "astro:assets";
import heroImage from "../assets/hero.jpg";
import "@/globals.css";
import PodcastLinks from "@/components/PodcastLinks.astro";
import SpotifyEmbed from "@/components/SpotifyEmbed.astro";
import { spotifyClient } from "@/lib/spotify";
import { Schema } from "astro-seo-schema";
import Favicons from "@/components/Favicons.astro";

const showDetails = await spotifyClient.shows.get(
	"0jxTtqiycCBwCcXGqGawoa",
	"NO",
);
---

<html lang="no" class="h-full">
	<head>
		<meta charset="utf-8" />
		<Favicons />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jenovas Vitner</title>
		<meta name="description" content={showDetails.description} />
		<meta property="og:title" content={showDetails.name} />
		<meta property="og:description" content={showDetails.description} />
		<meta property="og:image" content={showDetails.images[0].url} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={showDetails.name} />
		<meta name="twitter:description" content={showDetails.description} />
		<meta name="twitter:image" content={showDetails.images[0].url} />
		<link rel="canonical" href={Astro.url} />

		<Schema
			item={{
				"@context": "https://schema.org",
				"@type": "PodcastSeries",
				name: showDetails.name,
				description: showDetails.description,
				image: showDetails.images[0].url,
				url: Astro.url.toString(),
				publisher: {
					"@type": "Organization",
					name: showDetails.publisher,
				},
				inLanguage: showDetails.languages[0],
				numberOfEpisodes: showDetails.total_episodes,
				webFeed: showDetails.external_urls.spotify,
				alternateName: "NoBuddies",
			}}
		/>
	</head>
	<body class="h-full">
		<section class="h-screen grid grid-rows-[1fr,auto] overflow-hidden">
			<div class="relative">
				<Image
					src={heroImage}
					alt="Hero background"
					widths={[640, 768, 1024, 1280, 1536]}
					sizes="(max-width: 640px) 640px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (max-width: 1280px) 1280px, 1536px"
					class="absolute top-0 left-0 w-full h-full object-cover -z-10"
				/>
				<div class="flex items-center justify-center h-full">
					<div class="text-center text-white p-8 rounded-2xl w-full max-w-5xl">
						<h1 class="sr-only">Jenovas Vitner</h1>

						<SpotifyEmbed />
					</div>
				</div>
			</div>

			<div>
				<PodcastLinks />
			</div>
		</section>
	</body>
</html>
