---
import Episodes from "@/components/Episodes.astro";
import Layout from "@/components/Layout.astro";
import PodcastLinks from "@/components/PodcastLinks.astro";
import SpotifyEmbed from "@/components/SpotifyEmbedShow.astro";
import { getShowDetails } from "@/lib/spotify";
import { Schema } from "astro-seo-schema";
import { Image } from "astro:assets";
import heroImage from "../assets/hero.jpg";
import { authors } from "@/lib/meta";
import Hosts from "@/components/Hosts.astro";

const showDetails = await getShowDetails();
---

<Layout>
	<Fragment slot="head">
		<meta name="description" content={showDetails.description} />
		<meta property="og:title" content={showDetails.name} />
		<meta property="og:description" content={showDetails.description} />
		<meta property="og:image" content={showDetails.images[0].url} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.site} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={showDetails.name} />
		<meta name="twitter:description" content={showDetails.description} />
		<meta name="twitter:image" content={showDetails.images[0].url} />
		<!-- TODO: astro-seo -->
		<meta name="twitter:site" content="@rad_crew" />
		<meta name="twitter:creator" content="@rad_crew" />
		<meta name="twitter:creator" content="@arodem" />
		<meta name="twitter:creator" content="@MuffensKarl" />
		<title>Jenovas Vitner</title>

		<Schema
			item={{
				"@context": "https://schema.org",
				"@type": "PodcastSeries",
				name: showDetails.name,
				description: showDetails.description,
				image: showDetails.images[0].url,
				url: Astro.site?.toString(), //TODO: Url of the item -> spotify?
				publisher: {
					"@type": "Organization",
					name: showDetails.publisher,
				},
				inLanguage: showDetails.languages[0],
				webFeed: "https://www.radcrew.net/category/finalfantasy/feed",
				alternateName: "NoBuddies",
				author: authors,
			}}
		/>
	</Fragment>

	<div class="h-full grid grid-rows-[1fr,auto] overflow-hidden">
		<!-- TODO: sjekk hero image optimization + fix layout med grid i stedet for absolute -->
		<Image
			src={heroImage}
			alt="Hero background"
			widths={[640, 768, 1024, 1280, 1536]}
			sizes="(max-width: 640px) 640px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (max-width: 1280px) 1280px, 1536px"
			class="absolute left-0 w-full h-full object-cover -z-10"
			loading="eager"
		/>
		<div class="flex items-center justify-center h-full">
			<div class="text-center text-white p-8 rounded-2xl w-full max-w-5xl">
				<h1 class="sr-only">Jenovas Vitner</h1>

				<SpotifyEmbed />
				<PodcastLinks />

				<Hosts />

				<Episodes episodes={showDetails.episodes.items} />
			</div>
		</div>
	</div>
</Layout>
