---
import { Image } from "astro:assets";
import audunImage from "@/assets/audun.png";
import josteinImage from "@/assets/jostein.jpg";
import karlImage from "@/assets/karl.png";
import { authors } from "@/lib/meta";
import { PodcastHost } from "./PodcastHost";

type Host = {
	name: string;
	link: string;
	image: ImageMetadata;
	handle: string;
};

const podcastHosts = [
	{
		name: authors[0].name,
		link: authors[0].sameAs,
		handle: "@jostein.radcrew.net",
		image: josteinImage,
	},
	{
		name: authors[1].name,
		link: authors[1].sameAs,
		handle: "@arodem.bsky.social",
		image: audunImage,
	},
	{
		name: authors[2].name,
		link: authors[2].sameAs,
		handle: "@karl.lvup.no",
		image: karlImage,
	},
] satisfies Host[];

type Props = {
	loading?: "eager" | "lazy";
};
const { loading = "lazy" } = Astro.props;
---

<div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
  {
    podcastHosts.map((host) => (
      <PodcastHost name={host.name} handle={host.handle} link={host.link}>
        <Image
          src={host.image}
          alt={host.name}
          width={96}
          height={96}
          class="rounded-full"
          loading={loading}
        />
      </PodcastHost>
    ))
  }
</div>
